@model List<DormBuddy.Models.LogModel>

<table>
    <thead>
        <tr>
            <th>Timestamp</th>
            <th>Action</th>
            <th>Username</th>
            <th>Details</th>
            <th>Log Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log.Timestamp</td>
                <td>@log.Action</td>
                <td>@log.Username</td>
                <td>@log.Details</td>
                <td>@log.LogType</td>
                <td>@log.Description</td>
            </tr>
        }
    </tbody>
</table>
